<div class="container">
	<div class="row">
		<h1 class="col-sm-12"><%= book.title %></h1>

		<p class="col-sm-6"><%= book.description %></p>

		<a href="/<%= book._id %>/edit">edit</a>

		<form action="/<%= book._id %>" method="POST">
		  <input type="hidden" name="_method" value="DELETE">
		  <input type="submit" value="Drop Book">
		</form>
	</div>
</div> 