<h1><%= book.title %></h1>

<p><%= book.description %></p>

<a href="/<%= book._id %>/edit">edit</a>

<form action="/<%= book._id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Drop Book">
</form> 