<nav>
    <a href="/">Available books</a>
    <a href="/new">Put a book into the Library</a>
    <form action="/sessions" method="POST">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Logout">
    </form>
</nav>