<nav>
  <% if(user) { %>
    <div id="user-menu">
      <a href="/">Bookworm Collections</a>
      <a href="/new">Add to collection of books</a>
      <a class="fav-books" href="../users/show">My Favorite Collections</a>
    </div>
    <p>Welcome, <%= user.first_name %></p>
    <form action="/sessions" method="POST">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Logout" id="logout-Btn" class="btn btn-primary btn-sm col-sm-1">
    </form>
  <% } else { %>
    <div class="container">
      <div id="log-in-session" class="row">
        <ul>
          <li id="login-btn" class="col-xs-6 col-lg-6 btn-primary"><a href="/sessions/new">Login</a></li>
          <li id="register-btn" class="col-xs-6 col-lg-6 btn-primary"><a href="http://localhost:3000/users/new">Register</a></li>
        </ul>
    </div>
    </div>
  <% } %>
</nav>