<nav>
  <% if(user) { %>
    <a href="/">Bookworm Collections</a>
    <a href="/new">Add to collection of books</a>
    <form action="/sessions" method="POST">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Logout">
    </form>
    <p>Welcome, <%= user.first_name %></p>
  <% } else { %>
    <div class="row">
      <div id="log-in-session">
        <ul>
          <li><a class="col-xs-4" href="/sessions/new">Login</a></li>
          <li><span class="col-xs-4" >or<span></li>
          <li><a class="col-xs-4" href="/users/register">Register</a></li>
        </ul>
    </div>
    </div>
  <% } %>
</nav>