body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}



/*********** SESSION PAGE ***********/

#sessionPage{
	text-align: center;
	background-image: url(/images/wood.jpg);
}

ul li{
	display: inline-block;
}

#submitBtn{
	width:30%;
	margin-bottom: 150px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif 
}

#regBtn{
	margin-bottom: 30px;
}

/************ NAVIGATION ***************/
#log-in-session{
	position: relative;
	top:480px;
	text-align: center;
	font-size:24px;
}
#log-in-session ul{
	padding-left: 0;
}

#login-btn{
	color:#fff;
	border-right:1px solid #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif 
}

#register-btn{
	color:#fff;
}

#register-btn a, #login-btn a{
	text-decoration: none;
	color:#fff;
}

#regBtn{
	width:30%;

}

/***************** USER NAGIVATION *************/
#user-menu{
	padding:20px;
	border-bottom: 1px solid #d7dae0;
}


#user-menu a{
	background-color: #3c79f2;
	padding:10px;
	color:#fff;
	border-radius: 5px;
}

#user-menu>.fav-books{
	background-color: red;
}

#fav-book{
	width:35px;
	height: 35px;
}
/***************** User Body Section **************/
#bodySection{
	margin-top: 100px;
}

#book-articles{
	height:300px;
	margin-bottom: 100px;
}

#indexTitle{
	border-bottom: 1px solid #d7dae0;
}

#bookIcon{
	width:50px;
	height: 50px;
}

.book-welcome-page{
	text-align: center;
	border-bottom: 1px solid #d7dae0;
	font-family: 'Barrio', cursive;
}

h3, h1, a{
	font-family: 'Barrio', cursive;
}

h3{
	text-align: center;
}










